[add-ons]

[add-ons.ports]
extra = [ {name = "echo", port = 7},
          {name = "ftp transfer", port = 20},
          {name = "ftp control", port = 21},
          {name = "openVPN", port = 1194},
          {name = "docker(ssl)", port = 2376},
          {name = "etcd(inner)", port = 2380},
          {name = "http(8008)", port = 8008},
          {name = "http(8080)", port = 8080} ]

